<%= form_with(model: alumno, local: true) do |form| %>
  <% if alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
        <% alumno.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombres %>    
    <%= form.text_field :nombres, { :class => "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni, { :class => "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, { :class => "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :edad %>
    <%= form.text_field :edad, { :class => "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", :class => "btn btn-primary" %>
  </div>
<% end %>
