<%= form_with(model: citation, local: true) do |form| %>
  <% if citation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citation.errors.count, "error") %> prohibited this citation from being saved:</h2>

      <ul>
        <% citation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">

      <div class="col-md-6">
        <div class="field">
          <%= form.label :DNI , "DNI" %>
          <%= form.text_field :dni, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su DNI" } %>
        </div>
      </div>

    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="field">
          <%= form.label :Nombres %>
          <%= form.text_field :nombre, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese sus nombres" } %>
          </div>
        </div>

      <div class="col-md-6">
      <div class="field">
        <%= form.label :Apellidos %>
        <%= form.text_field :apellido, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese sus apellidos" } %>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="field">
          <%= form.label :Email %>
          <%= form.email_field :email, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su email" } %>
        </div>
      </div>

    </div>


  <div class="row">

    <div class="col-md-6">
      <div class="field">
        <%= form.label :Telefono %>
        <%= form.text_field :telefono, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su telefono" } %>
      </div>
    </div>

    <div class="col-md-6">
        <div class="field">
          <%= form.label :fechacita , "Fecha de cita" %>
          <br>
           <%= form.date_field :fechacita, :id => "datepicker", :class => "form-control form-control-lg form-control-a" %>
        </div>
    </div>
  
  </div>

     <div class="row">

      <div class="col-md-12">
          <div class="field">
            <%= form.label :mensaje, "Mensaje" %>
            <%= form.text_area :mensaje, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su mensaje" } %>
          </div>
      </div>

    </div>

    
     <% if logged_in? && current_user.perfil == '1' %>
          <div class="row">
             <div class="col-md-12">
             <div class="field">
              <label for="inputAgente">Agente</label>
              <%= form.select :agente, options_from_collection_for_select(Usuario.all, :id, :nombres) , { :include_blank => "Agente a asignar" }, { :class => "form-control" } %>
            </div>
            </div>
          </div>
    <% end %>


   <div class="col-md-12 text-center">
    <div class="actions">
      <%= form.submit "Enviar Datos", :class => "btn btn-a" %>
    </div>
  </div>

<% end %>

<script>
$("#datepicker").datepicker({format: "dd/mm/yyyy"});
</script>