<p id="notice"><%= notice %></p>


<div class="container">

    <div class="row">

      <div class="col-lg-12">


     <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Detalle de cita</h1>
                <span class="color-text-a">Estado de cita: <b>Pendiente<b> </span>
              </div>
            </div>
            <div class="col-md-12 col-lg-12">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <%= link_to 'Editar', edit_citation_path(@citation), :class => "btn btn-light" %>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <%= link_to 'Atrás', citations_path, :class => "btn btn-light" %>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
    </section>

      </div>
    </div>
  </div> 



    



<br>
<div class="col-md-12 section-md-t12">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d"><%= @citation.nombre %> <%= @citation.apellido %></h3>
                    </div>
                  </div>
                  <div class="agent-content mb-12">
                    <p class="content-d color-text-a">

                    </p>
                    <div class="info-agents color-a">
                       <p>
                        <strong>DNI: </strong><br>
                        <span class="color-text-a"><%= @citation.dni %></span>
                      </p>
                      <p>
                        <strong>Telefono: </strong><br>
                        <span class="color-text-a"><%= @citation.telefono %></span>
                      </p>
                      <p>
                        <strong>Email: </strong><br>
                        <span class="color-text-a"><%= @citation.email %></span>
                      </p>
                      <p>
                        <strong>Fecha Cita: </strong><br>
                        <span class="color-text-a"><%= @citation.fechacita %></span>
                      </p>
                      <p>
                        <strong>Mensaje: </strong><br>
                        <span class="color-text-a"><%= @citation.mensaje %></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

