<p id="notice"><%= notice %></p>

    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Listado de Ventas</h1>
              <span class="color-text-a">...</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><button type="button" class="btn btn-light">Inicio</button></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%= link_to 'Registrar Venta', new_ventum_path, :class => "btn btn-light" %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Cliente</th>
      <th>Forma de Pago</th>
      <th>Dpto</th>
      <th>Precio</th>
      <th>Banco</th>
      <th>Nro. Cta. Origen</th>
      <th>Monto Abonado</th>
      <th>Monto Dscto.</th>
      <th>Monto A Pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.cliente %></td>
        <td><%= FormaPago.select(:name).where("id in (" + ventum.formaPago.to_s + ")").collect(&:name)[0] %></td>
        <td><%= Departamento.select(:descripcion).where("id in (" + ventum.dpto.to_s + ")").collect(&:descripcion)[0] %> </td>
        <td><%= ventum.precio %></td>
        <td><%= Banco.select(:name).where("id in (" + ventum.banco.to_s + ")").collect(&:name)[0] %></td>
        <td><%= ventum.nroCtaOrigen %></td>
        <td><%= ventum.montoAbonado %></td>
        <td><%= ventum.montoDscto %></td>
        <td><%= ventum.montoPagar %></td>
        <td><%= link_to 'Ver', ventum %></td>
        <td><%= link_to 'Editar', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: '¿Esta seguro de eliminar la venta registrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
