

<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Proforma del Cliente</h1>
              <span class="color-text-a">Ingrese la información necesaria para generar una proforma para el cliente asignado.</span>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">#-->

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>


  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Desglose de Proforma</span>
            <span class="badge badge-secondary badge-pill"></span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Precio Base</h6>
                <small class="text-muted">Por metro cuadrado</small>
              </div>
              <span class="text-muted"><%= @base = 1000  %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Area del Departamento</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><%= @area = 120.00 %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Descuento</h6>
                <small class="text-muted">Dependiendo del Piso</small>
              </div>
              <span class="text-muted"><%= @descuento = 0.90 %></span>

                <%=   @hola
                  %>
                


              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Código de Promoción</h6>
                <small>XXXXXXXXXX</small>
              </div>
              <span class="text-success">XXX</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <strong>Total ($)</strong>
              <strong><%= (@area * @base) * @descuento %></strong>
            </li>
          </ul>

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Canjear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Datos del cliente</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nombres">Nombres</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Se necesita ingresar los nombres del cliente.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Se necesita ingresar los apellidos del cliente.
                </div>
              </div>
            </div>

          <h4 class="mb-2">Documento de Identidad</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="dni" name="TipoDocumento" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="dni">DNI</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="pasaporte" name="TipoDocumento" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="pasaporte">Pasaporte</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="carneDeExtranjeria" name="TipoDocumento" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="carneDeExtranjeria">Carné de Extranjería</label>
              </div>
            </div>

              <div class="mb-3">
              <label for="numeroDocumento">Número de Documento</label>
                <input type="text" class="form-control" id="numeroDocumento" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Se requiere número de Documento.
                </div>
              </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="tucorreo@homeagency.com.pe">
              <div class="invalid-feedback">
                Ingrese un correo electrónico válido.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Número de Contacto Telefónico</label>
              <input type="number" class="form-control" id="numeroContacto" placeholder="987654321" required>
              <div class="invalid-feedback">
                Ingrese un número de contacto.
              </div>
            </div>



            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="proyecto">Proyecto</label>
                <select class="custom-select d-block w-100" id="proyecto" required>
                  <option value="">Elija la opción...</option>
                  <option>Proyecto 1</option>
                  <option>Proyecto 2</option>
                  <option>Proyecto 3</option>
                  <option>Proyecto 4</option>
                </select>
                <div class="invalid-feedback">
                  Por favor elija una opción válida.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="departamento">Número de Departamento</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Elija la opción...</option>

                  <option>201</option>
                  <option>202</option>
                  <option>203</option>
                  <option>301</option>
                  <option>302</option>
                  <option>303</option>
                  <option>401</option>
                  <option>402</option>
                  <option>403</option>
                  <option>501</option>
                  <option>502</option>
                  <option>503</option>


                  
                </select>
                <div class="invalid-feedback">
                  Por favor elija una opción válida.
                </div>
              </div>
            
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Enviar una copia de la proforma a la dirección electrónica ingresada en el formulario.</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">El cliente acepta que la empresa guarde su información bajo su responsabilidad.</label>
            </div>
            <hr class="mb-4">



              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-lg btn-block" type="submit">Generar Proforma</button>
          </form>
        </div>
      </div>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>