<%= form_with(model: citum, local: true) do |form| %>
  <% if citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
        <% citum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dni %>
    <%= form.text_field :dni , { :class => "form-control", :placeholder => "Ingrese DNI"} %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, { :class => "form-control", :placeholder => "Ingrese Nombre"} %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, { :class => "form-control", :placeholder => "Ingrese Apellido"} %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, { :class => "form-control", :placeholder => "Ingrese Email"} %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono, { :class => "form-control", :placeholder => "Ingrese Telefono"} %>
  </div>

  <div class="field">
    <%= form.label :fechacita %>
    <%= form.date_select :fechacita, { :class => "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar Datos", :class => "btn btn-primary" %>
  </div>
<% end %>
