<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Departamentos</h1>
          <span class="color-text-a">Listado de Departamentos de todos los Proyectos</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              
            </li>
            <li class="breadcrumb-item active" aria-current="page">
             
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
    
<h3 id="notice"><%= notice %></h3><br>


<div class="row">
<% if logged_in? %>
  <div class="col-2">
    <%= link_to 'Nuevo Departamento', new_lista_departamento_path, :class=> "btn btn-warning" %>
  </div>
 <% end %>

  <div class="col-10" align="right">    
    <%# <%= form_tag departamentos_path, :method => "get", :class => "form-inline" do %>
    <%= form_tag lista_departamentos_path, :method => "get", :class => "form-inline" do %>
      <div class="form-group">
        <label>Buscar por Nro de piso:</label>
        <%= number_field_tag :piso, params[:piso], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <label>Buscar por Nro dormitorios:</label>
        <%= number_field_tag :numdormitorio, params[:numdormitorio], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Buscar', name: nil, :class => "btn btn-success" %>
      </div>
      <%# compao oculto para guardar el id_proyecto %>
      <%#<div>
        <%#<%= hidden_field_tag :proyecto_id , params[:proyecto_id] %>
      <%#</div> %>

    <% end %>
    
  </div>
</div>

<hr>

<% if logged_in? %>

<table class="table">
  <thead class="table-success" align="center">
    <tr>
      <th>Numero Dpto.</th>
      <th>Piso</th>
      <th>Características</th>
      <th>Precio</th>
      <th>Area</th>
      <th >Dormitorios</th>
      <th>Proyecto</th>
      <th>Ruta de imagen</th>
      <th colspan="3" text-align="right"> Acciones </th>
    </tr>
  </thead>

  <tbody align="center">
    <% @lista_departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.numdpto %></td>
        <td><%= departamento.piso %></td>
        <td><%= departamento.descripcion %></td>
        <td><%= departamento.precio %></td>
        <td><%= departamento.area %></td>
        <td><%= departamento.numdormitorio %></td>
        <td><%= departamento.proyecto.nombre %></td>
        <td>/<%= departamento.foto_identifier %></td>
        
        <%#departamento_path(departamento,:proyecto_id => @proyecto.id))%>
        <%#departamento_path(departamento,:proyecto_id => @proyecto.id))%>
        <td><%= link_to 'Mostrar', lista_departamento_path(departamento) %></td>
        <td><%= link_to 'Editar', edit_lista_departamento_path(departamento) %></td>
        <td><%= link_to 'Eliminar', lista_departamento_path(departamento), method: :delete, data: { confirm: 'Está seguro ?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<hr>
<br>
<% end %> <!--END DEL CONTROL DE PERMISO-->


<% n = @lista_departamentos.count/4 %>
  <% count = 0 %>
  <% n.downto(0) do %>
    <!-- Creamos la fila -->
    <div class="row">
      <!-- Creamos maximo 3 columnas y sale -->
      <% 3.downto(0) do |i| %>
        <!-- Verificamos que el  count no sea mayor a la cantidad de proyectos para evitar error -->
        <% if count == @lista_departamentos.count %>
          <% break %>
        <% end %>
        <!-- Obtenemos el proyectos que toca -->
        <% lista_departamentos = @lista_departamentos[count] %>
        <!-- Utilizamos el proyectos -->
        <div class="card">
          <%= image_tag(lista_departamentos.foto.url, style: 'height:220px;width:275px;', alt: 'Foto') if lista_departamentos.foto? %>
          <div class="card-body">
            <h4 class="card-title">Departamento: <%= lista_departamentos.numdpto %></h4>
            <h5 class="card-text">Proyecto: <br>
              <span class="color-d"><%= lista_departamentos.proyecto.nombre %></span></h5>
            <h6 class="card-text">Piso: <%= lista_departamentos.piso %></h6>
            <h7 class="card-text">Precio $: <%= lista_departamentos.precio %></h7>
            <p class="card-text">Dormitorios: <%= lista_departamentos.numdormitorio %></p>
            <%= link_to('Ver Detalles', lista_departamento_path(lista_departamentos), :class => "btn btn-outline-success active") %>
          </div>
        </div>
        <!-- Aumentamos la posición para que en la siguiente utilice el siguiente proyectos -->
        <% count += 1 %>
      <% end %>
    </div>
  <% end %>
